<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifspsaocarlos.sdm.mensagem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mensageiro"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".service.BuscaNovaMensagemService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="BUSCAR_NOVA_MENSAGEM_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ContatosActivity"
            android:label="Contatos" >
        </activity>
        <activity android:name=".view.MensagemActivity" />
        <activity
            android:name=".view.NovoContatoActivity"
            android:label="@string/title_activity_novo_contato" >
        </activity>
    </application>

</manifest>
